# OS / editor
.DS_Store
*.swp
*.swo
*.tmp
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
**/*.jks
**/*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
**/DerivedData/

# Generated symbols / maps
app.*.symbols
app.*.map.json
